<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}Panel Usuario{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
  {% block extra_css %}{% endblock %}
</head>
<body>

  {% include 'navbar.html' %}

  {% block content %}{% endblock %}

  {% include 'footer.html' %}

  {% block extra_js %}
    <script src="{{ url_for('static', filename='js/enviar_verificacion.js') }}"></script>
  {% endblock %}

</body>
</html>
